/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.applight {
  background-color: aliceblue;
  color: black;
}
.appdark {
  background-color: black;
  color: aliceblue;
} */
